/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus-visible {
  outline: 1px solid #3b82f6;
  outline-offset: 2px;
}
html {
  font: 62.5% / 1.15 sans-serif;
}
h1,
h2 {
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  -moz-osx-font-smoothing: inherit;
  -webkit-font-smoothing: inherit;
  appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  margin: 0;
  overflow: visible;
  padding: 0;
  width: auto;
}
button::-moz-focus-inner {
  border: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input,textarea {
  overflow: visible;
  border:none;
}
/* input[type="text"] {
  border-radius: 0;
} */
input:focus, textarea:focus{
  outline: none;
}
body {
  background-color: #1e1e2f;
  color: #ffff;
  font:
    1.6rem/1.25 Arial,
    sans-serif;
  margin: 0 auto;
  max-width: 68rem;
  width: 100%;
}
@media screen and (min-width: 620px) {
  body {
    font-size: 1.9rem;
    line-height: 1.31579;
  }
}

/* #root{
  width:100vw;
} */
/* End resets */

/* Header Part */

.cube{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:35em;
}

.title--background{
  align-self: flex-start;
  margin-bottom:2em;
}
.title--background>span{
opacity: 0.8;
}
.input--container{
  background: 		#2e2e3e;
  width:100%;
  height:100%;
  padding:1em;
  border-radius: 10px;
}

.formInput{
  position: relative;
  display:flex;
  flex-direction: column;
  color:	#f9fafb;
}


.labelName{
  margin-bottom:0.23em;
}
.labelProject{
  margin-top:1em;
  margin-bottom:0.23em;
}



.inputName,.inputList{
  padding:0.6em;
  background:#f4f4f5 ;
  border:1px solid 	#4b5563;
  border-radius:0.3em;
   
}

.inputList{
  height:8em;
}

.submitBtn{
 position:absolute; 
 width:230px;
 height:35px;
 top:450px;
 left:400px;
 border-radius: 5px;
 font-size:1.2em;
 background:	#6366f1;
}
/* .submitBtn:focus{
  outline:aliceblue
} */
.submitBtn:hover{
  transform: scale(1.1);
  cursor: pointer;
}


/* File Upload */

.fileInput{
  margin-top:3em;
}

#file_uploads{
  opacity:0;
}

.fileLabel {
  width:max-content;
  background-color: #6366f1;
  padding: 5px 10px;
  border-radius: 5px;
  font-size:1.5rem;
  height: auto;
}

.fileLabel:hover
 {
  background-color: #9696cb;
  color: white;
  cursor: pointer;
}

.fileLabel:active {
  background-color: #9696cb;
  color: white;
}

.separate{
  width:100%;
  margin-top:1em;
  height: 1em;
  background-color: #5B4965;
  margin-bottom: 2em;
  border-radius: 10px;
}


.secondForm-submit:hover{
  transform: scale(1.2);
  cursor: pointer;

}


.preview{
width:max-content;
padding:0px 6px;
background-color: white;
color:black;
}

.status-loading{
  font-size: small; 
}
.status-error{
  background: red;
}
/* End Header Part */


.progressCounterContainer{
  background-color: #E9B0B0;
  padding:1px 20px;
  z-index: 2;
  border-top-right-radius: 18px;
}

.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:20px;
}

.project-btn{
  /* background:#E9B0B0;
  padding:2px;
  width:fit-content; */
}
.project-btn:hover{
  cursor:pointer;
  transform: scale(1.05);
}
.buttons{
  margin:1em 0;
  display: flex;
  justify-content: space-evenly;
}
.item_completed{
  animation: alternate;
  text-decoration: line-through;
  color:white;
}

.project{
  position:relative;
  border:1px solid #cecccc;
  width:650px;
  height:max-content;
  border-radius: 20px;
  }

.countProgress{
display: flex;
justify-content: center;
align-items: center;
position: relative;
  }

.projectNameContainer{
  background:#71627A;
  padding:0.2em 0.5em;
  width:max-content;
  font-size:0.8em;
  font-weight: 800;
  border-radius: 8px;
}
.progressCounterContainer{
  position:absolute;
    right:0%;
    font-weight: 400;
}

li{
  list-style: none;
}

#myProgress{
  width: 100%;
  background-color: #D9D9D9;
  border-radius: 15px;
}

.myBar{
  width:20%;
  height:30px;
  background: #E9B0B0;
  border-radius: 15px;
}


/* End of Projects Part */

.todo_items_left::before{
  content:'';
  display: inline-block;
  width:20px;
  height:20px;
  margin: 0 10px;
  background: transparent;
  border:1px solid #fff;
  border-radius: 3px;
}

.list-Button{
  display: flex;
  align-items: center;
}

.item_completed.todo_items_left::before{
    content:'️\2713';
    background:#8a5cf5;
    color:black;
    border:none;
    text-align: center;
    padding-bottom: 6px;
    font-weight: 1000;
}

.list-item{
  display: flex;
  flex-direction: row;
  gap:20px;
  /* justify-content: space-around; */
}

.change:hover{
  cursor: pointer;
}

.change{
  /* font-size:smaller; */
  font-size:17px;
  position: relative;
  top:-2px;
}
.inner-children{
  font-size:0.8em;
}

.make-small{
  
  width:max-content;
}

.item-children{
  display: none;
}
.active{
  display:block;
}

.toggle-btn{
  font-size:0.9em;
  margin-top:12px;
  position: absolute;
  right:20px;
}

.break{
  font-size:smaller;
}

@media (max-width:650px){
  .submitBtn{
    position:static;
    margin-top:50px;
    margin-left:150px;
  }
}